<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_0_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1,1},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_1_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{549,1},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_2_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1097,1},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_3_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1645,1},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_4_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2193,1},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_5_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2741,1},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_6_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{3289,1},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_7_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1,393},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_8_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{549,393},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_9_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1097,393},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_picker_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1645,393},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_reverse_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2193,393},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_skip_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2741,393},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_0_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{3289,393},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_1_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1,785},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_2_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{549,785},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_3_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1097,785},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_4_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1645,785},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_5_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2193,785},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_6_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2741,785},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_7_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{3289,785},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_8_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1,1177},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_9_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{549,1177},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_picker_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1097,1177},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_reverse_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1645,1177},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_skip_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2193,1177},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_0_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2741,1177},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_1_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{3289,1177},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_2_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1,1569},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_3_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{549,1569},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_4_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1097,1569},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_5_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1645,1569},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_6_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2193,1569},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_7_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2741,1569},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_8_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{3289,1569},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_9_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1,1961},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_picker_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{549,1961},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_reverse_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1097,1961},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_skip_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1645,1961},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wild_colora_changer_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2193,1961},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wild_pick_four_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2741,1961},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_0_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{3289,1961},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_1_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1,2353},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_2_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{549,2353},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_3_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1097,2353},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_4_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1645,2353},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_5_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2193,2353},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_6_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2741,2353},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_7_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{3289,2353},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_8_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1,2745},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_9_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{549,2745},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_picker_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1097,2745},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_reverse_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{1645,2745},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yellow_skip_large.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,546}</string>
                <key>spriteSourceSize</key>
                <string>{390,546}</string>
                <key>textureRect</key>
                <string>{{2193,2745},{390,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Card.png</string>
            <key>size</key>
            <string>{3836,3136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74545d982efc4a9e92b75e698b5f17b8:3298a12ed3c2525073accb7826a6dd9b:7a604e4d094c5c24f2d2baa176a2f6c3$</string>
            <key>textureFileName</key>
            <string>Card.png</string>
        </dict>
    </dict>
</plist>
